<template>
    <img :src="'localhost:3030/uploads/' + path" alt="">
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        props: {path: String},
        name: "image",
        data() {
            return {}
        },

        methods: {},

        computed: {
            ...mapGetters({})
        },
    }
</script>

<style scoped>

</style>