<template>
    <div></div>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex'

    const duration = 3;
    export default {
        computed: mapGetters(['alert']),
        watch: {
            /**
             * Watcher sur le type d'alert. Null quand il ny en a pas. Quand levent de lalert est triggered, ca crée une alert avec les bons parametres.
             *
             * Optimisable: mettre un computed getter sur alert et le plugger dans le code
             */

            'alert.type': function () {
                if (this.alert.type) {
                    this.createAlert(this.alert.type, this.alert.message);
                    const self = this;
                    setTimeout(function () {
                        self.hideAlert();
                    }, duration);
                }
            }
        },
        methods: {
            ...mapMutations(['hideAlert']),
            /**
             * Crée l'alerte dans le DOM. (Ajoute un div à la fin du document)
             *
             * @param type
             *    type d'alert bulma: info, success, danger, warning
             * @param content
             *    message de l'alerte
             */
            createAlert(type, content) {
                switch (type) {
                    case 'error':
                        this.$Message.error({
                            content,
                            duration: 3
                        });
                        break;
                    case 'info':
                        this.$Message.info({
                            content,
                            duration: 3
                        });
                        break;
                    case 'success':
                        this.$Message.success({
                            content,
                            duration: 3
                        });
                        break;
                    case 'warning':
                        this.$Message.warning({
                            content,
                            duration: 3
                        });
                        break;
                    case 'loading':
                        this.$Message.loading({
                            content,
                            duration: 3
                        });
                        break;
                }
            }
        }

    }
</script>

<style lang="scss">


</style>


