<template>
    <img class="icon" v-bind:src="urlIcon" v-bind:height="iheight" v-bind:width="iwidth"/>
</template>

<script>
    //<img v-bind:src="urlIcon" />
    export default {
        name: "icon",
        props: {
            name: String,
            iwidth: Number,
            iheight: Number,
        },
        computed: {
            urlIcon: function () {
                let icon = null;
                try {
                    icon = require("@/assets/img/icons/" + this.name + ".svg");
                } catch (e) {

                }

                return icon;
            }
        }
    }
</script>

<style scoped>
    /*.icon {*/
    /*vertical-align: baseline;*/
    /**/
    /*}*/

    .icon {
        position: relative;
        top: 3px;
    }
</style>