<template>
    <Menu :active-name="currentRoute" theme="light" width="auto" :class="menuitemClasses">
        <template v-for="route in routes">
            <MenuItem :name="route.name" :to="route.path">
                <Icon type="md-home"></Icon>
                <span>{{route.displayName}}</span>
            </MenuItem>
        </template>


    </Menu>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "left-menu",
        props: ['menuitemClasses'],
        computed: {
            ...mapGetters(['routes']),
            currentRoute() {
                return this.$route.name
            },
        }
    }
</script>

<style lang='scss'>
    .menu-icon {
        transition: all .3s;
    }

    .menu-item span {
        display: inline-block;
        overflow: hidden;
        width: 69px;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        transition: width .2s ease .2s;
    }

    .menu-item i {
        transform: translateX(0px);
        transition: font-size .2s ease, transform .2s ease;
        vertical-align: middle;
        font-size: 16px;
    }

    .collapsed-menu span {
        width: 0px;
        transition: width .2s ease;
    }

    .collapsed-menu i {
        transform: translateX(5px);
        transition: font-size .2s ease .2s, transform .2s ease .2s;
        vertical-align: middle;
        font-size: 22px;
    }
</style>