<template>
    <div class="fullheight2">
        <Modal class="modalStyle" v-model="modalVisible"
               @on-cancel="closeModal">
            <PForm :project="focusedProject" :formData="currentForm" :modalState="modalState"
                   @formEvent="doTimelineEvent" @on-ok="closeModal">
            </PForm>
            <div slot="footer"></div>
        </Modal>

        <Card class="wtf">

            <Layout class="white-header">
                <Header>
                    <Row justify="start">
                        <Col span="4"> &nbsp; &nbsp;
                            <Button size="small" type="warning" @click="fetchProjects">Update/Fetch Projects</Button>
                        </Col>
                        <Col span="4"><b>Project overview:</b> &nbsp;
                            <i-switch v-model="isOverview" @on-change="switchOverviewMode"/>
                        </Col>
                        <Col span="4"><b>Show controls:</b> &nbsp;
                            <i-switch v-model="showControls"/>
                        </Col>
                    </Row>
                </Header>

                <Content>
                    <Collapse class="ouerrr" v-model="expandedPanels" ref="containerCollapse">
                        <Panel class="panelBg grayBorder" v-for="(project, i) in projects" :name="'panel' + i"
                               :key="project.id">
                            <b>
                                <Icon type="ios-copy-outline"/>
                                {{project.name}} &nbsp;
                                <Icon type="ios-man"/>
                                {{project.manager}}</b>
                            <div class="wrappingBorder" slot="content">
                                <appTimeline :ref="'timeline' + project.id" :project="project" :mode="isOverview"
                                             v-on:addFormClicked="onAddFormClicked"
                                             v-on:onItemClick="onItemClick" :controlView="showControls">
                                </appTimeline>
                            </div>
                        </Panel>
                    </Collapse>
                </Content>

            </Layout>

        </Card>

    </div>

</template>

<script>
    import {mapActions, mapGetters} from 'vuex';
    import router from '../router'
    import appTimeline from '../components/aiworks-timeline/app-timeline';
    import PForm from '../components/aiworks-timeline/project-form';
    import {refreshProjects} from "../modules/project";

    export default {
        components: {PForm, appTimeline},
        data() {
            return {
                currentForm: {
                    timelineItemIndex: -1,
                    formId: -1,
                    projectId: 0,
                    opt_topen: 0,
                    opt_tclose: 0,
                    opt_tupdate: 0,
                    opt_prob: 0,
                    opt_delivery: 0,
                    opt_billing: 0,
                    opt_budget: 0,
                    comment: 0,
                    todos: [],
                    image: "",
                },

                modalState: "",
                modalVisible: false,

                focusedProject: {},

                expandedPanels: "",
                isOverview: false,
                showControls: true
            }
        },

        methods: {
            ...mapActions({}),

            boolToInt(bool) {
                if (bool && bool !== null) {
                    return 1;
                } else {
                    return 0;
                }
            },

            doTimelineEvent(event) {
                let curTimeline = 'timeline' + event.projectId;
                this.$refs[curTimeline][0].doTimelineEvent(event);
            },

            onAddFormClicked(event) {
                this.setFormDefault(event);
                this.showModal();
            },

            setCurrentFocusedProject(p) {
                if (p)
                    this.focusedProject = p;
                else
                    console.warn("{Home} -> setCurrentFocusedProject(): project is null?")
            },

            switchOverviewMode() {
                let panels = [];

                for (let i = 0; i < this.projectsLength; i++) {
                    let panelName = "panel" + i;

                    if (this.isOverview && !panels.find(p => {
                        p === panelName
                    }))
                        panels.push(panelName);
                    else if (!this.isOverview)
                        panels = [];
                }

                this.expandedPanels = panels;
            },


            closeModal() {
                this.modalState = "reset";
                this.modalVisible = false;

            },

            onItemClick(event) {
                if (event.projectId > -1) {
                    let project = this.projects.find((p) => p.id === event.projectId);
                    this.setCurrentFocusedProject(project);
                    this.setForm(project.project_forms[event.timelineItemIndex], event.timelineItemIndex);
                } else
                    console.warn("{Home} -> event.projectId is less than 0! this.projects arrayIndexOutOfBounds");

                this.showModal();
            },


            showModal() {
                this.modalState = "show";
                this.modalVisible = true;
            },

            fetchProjects() {
                refreshProjects();
            },

            setFormDefault(pid) {
                if (pid > -1) {
                    this.currentForm.timelineItemIndex = -1;
                    this.currentForm.formId = -1;
                    this.currentForm.projectId = pid;
                    this.currentForm.opt_topen = 0;
                    this.currentForm.opt_tclose = 0;
                    this.currentForm.opt_tupdate = 0;
                    this.currentForm.opt_prob = 0;
                    this.currentForm.opt_delivery = 0;
                    this.currentForm.opt_billing = 0;
                    this.currentForm.opt_budget = 0;
                    this.currentForm.comment = "";
                    this.currentForm.todos = [];
                    this.currentForm.image = "";
                    this.focusedProject = this.projects.find((p) => p.id === pid);
                }
            },

            setForm(newData, timelineItemIndex) {
                if (this.currentForm) {
                    if (newData !== null) {
                        this.currentForm.timelineItemIndex = timelineItemIndex;
                        this.currentForm.formId = newData.id;
                        this.currentForm.projectId = newData.projectId;
                        this.currentForm.opt_topen = this.boolToInt(newData.opt_topen);
                        this.currentForm.opt_tclose = this.boolToInt(newData.opt_tclose);
                        this.currentForm.opt_tupdate = this.boolToInt(newData.opt_tupdate);
                        this.currentForm.opt_prob = this.boolToInt(newData.opt_prob);
                        this.currentForm.opt_delivery = this.boolToInt(newData.opt_delivery);
                        this.currentForm.opt_billing = this.boolToInt(newData.opt_billing);
                        this.currentForm.opt_budget = this.boolToInt(newData.opt_budget);
                        this.currentForm.comment = newData.comment;
                        this.currentForm.todos = newData.todos;
                        this.currentForm.image = newData.image;
                        this.focusedProject = this.projects.find((p) => p.id === newData.projectId);
                    }

                } else {
                    console.warn("{Home} -> currentForm is null!");
                }
            },
        },

        computed: {
            ...mapGetters({
                services: 'services',
                projects: 'projects',
            }),

            routes() {
                return router.options.routes;
            },

            projectsLength() {
                return (this.projects !== undefined) ? this.projects.length : 0;
            },
        },

    }
</script>


<style>
    .modalStyle {
        margin-bottom: 2rem;
    }

    .contentBg {
        background-color: #ecf2f8;
    }

    .panelBg {
        background-color: #f9f7ff;
    }

    .wrappingBorder {
        border: solid #fdfaff;
        border-width: 1px 1px 1px 1px;
    }

    .grayBorder {
        border: solid #c1c1c1;
        border-width: 1px 1px 1px 1px;
    }

    .white-header .ivu-layout-header {
        background-color: #ffffff;
        border: solid #e4e4e4;
        border-width: 1px 1px 1px 1px;
        height: auto;
        line-height: normal;
        padding: 10px;

    }

    .fullheight2 {
        height: calc(100% - 700px) !important;
    }

    .ouerrr {
        /*margin-top: 0.5rem;*/
    }

    .column {
        margin-bottom: 2rem;
    }
</style>

