<template>
    <Row type="flex" justify="center" align="middle" class="fullheight">
        <Col span="6" :lg="8" :md="10" :sm="12" :xs="20">
            <Card class="login-card">
                <div class="aplus-logo aplus-logo-login"></div>

                <Form ref="loginForm" :model="loginForm" :rules="ruleInline" class="login-form"
                      @keyup.enter.native="handleSubmit('loginForm')">
                    <FormItem prop="user">
                        <Input type="text" size="large" v-model="loginForm.user" placeholder="Username"
                               :disabled="authenticating">
                        <Icon type="ios-person-outline" slot="prepend"></Icon>
                        </Input>
                    </FormItem>
                    <FormItem prop="password">
                        <Input type="password" size="large" v-model="loginForm.password" placeholder="Password"
                               :disabled="authenticating">
                        <Icon type="ios-lock-outline" slot="prepend"></Icon>
                        </Input>
                    </FormItem>
                    <FormItem style="margin-bottom:0.25rem">
                        <Button type="primary" :loading="authenticating" long @click="handleSubmit('loginForm')"
                                size="large">Login
                        </Button>
                    </FormItem>
                </Form>

            </Card>
        </Col>
    </Row>
</template>
<style lang="less">
    .login-form {
        font-size: 20px !important;
    }

    .login-card {
        background-color: rgba(247, 247, 255, 1) !important;
        box-shadow: 0 3px 15px rgba(69, 76, 160, 0.45);
        border: solid 1px rgba(69, 76, 160, 0.20) !important;
        border-radius: 8px;
    }

    .aplus-logo-login {
        height: 150px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex'

    export default {
        computed: {
            ...mapGetters({
                authenticating: 'authenticating',
            }),
        },
        data() {
            return {
                loginForm: {
                    user: '',
                    password: '',
                    strategy: 'local',
                },
                ruleInline: {
                    user: [
                        {required: true, message: 'Please fill in the user name', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: 'Please fill in the password.', trigger: 'blur'},
                        // {
                        // 	type: 'string',
                        // 	min: 6,
                        // 	message: 'The password length cannot be less than 6 bits',
                        // 	trigger: 'blur'
                        // }
                    ]
                }
            }
        },
        methods: {
            ...mapActions({
                login: 'login',
            }),
            ...mapMutations({
                authenticatingM: 'authenticating',
            }),
            handleSubmit(name) {
                this.$refs[name].validate((valid) => {
                    if (valid) {
                        this.authenticatingM(true);
                        this.login(this.loginForm)

                    } else {

                    }
                })
            }
        }
    }
</script>
