<template>
    <!--@updated="mutateTimeline"-->

    <Layout class="white-header">
        <Header v-if="controlView">
            <Button type="success" size="small" shape="circle" icon="md-add" @click="addButtonClick" ghost>Ajouter
                Formulaire &nbsp;
            </Button>
            &nbsp; &nbsp; &nbsp; &nbsp;<b>Controles de ligne du temps : &nbsp; </b>
            <Button type="info" size="small" shape="circle" @click="clickShowAllButton" ghost>Montrer Tout &nbsp;
            </Button> &nbsp;
            <Button type="info" size="small" shape="circle" @click="clickShowToday" ghost>Montrer Aujourd'hui
            </Button> &nbsp;
            <Button type="info" size="small" shape="circle" @click="clickShow2Months" ghost>Montrer 2 mois passés
            </Button> &nbsp;
        </Header>

        <Content class="contentBg">
            <timeline ref="timeline"
                      :items="itemSet"
                      :groups="groups"
                      :options="options"
                      :events="['mouseUp']"
                      @mouse-up="timelineItemClick"
            ></timeline>
        </Content>
    </Layout>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {DataSet, Timeline} from 'vue2vis'
    import moment from 'moment'

    export default {
        name: "app-timeline",
        props: {project: Object, mode: Boolean, timelineEvent: Object, controlView: Boolean},

        watch: {
            mode: function () {
                if (this.mode) {
                    this.clickShow2Months();
                } else {
                    this.focusTimelineItem(this.itemSet.getIds()[this.itemSet.getIds().length - 1])
                }
            },
        },

        data() {
            return {
                pId: (this.project) ? this.project.id : -1,

                itemSet: this.pformsToItems(this.project.project_forms),

                groups: [{
                    id: 0,
                    content: 'Forms'
                }],

                options: {
                    editable: false,
                    showCurrentTime: false,
                }
            }
        },

        methods: {
            clickShow2Months() {
                this.$refs["timeline"].setWindow(moment().subtract(2, 'month'), moment().add(2, 'day'));
            },

            clickShowToday() {
                this.$refs["timeline"].setWindow(moment().subtract(1, 'day'), moment().add(1, 'day'));
            },

            clickShowAllButton() {
                this.$refs["timeline"].fit();
            },

            focusTimelineItem(id) {
                this.$refs["timeline"].focus(id);
            },

            addButtonClick() {
                this.$emit("addFormClicked", this.project.id);
            },

            timelineItemClick(event) {
                if (event.what === "item") {

                    let itemIndex = this.itemSet.map(function (i) {
                        return i.id;
                    }).indexOf(event.item);

                    let e = {
                        projectId: this.project.id,
                        timelineItemIndex: itemIndex,
                    };

                    if (e.timelineItemIndex < 0) {
                        console.log("[timelineItemCLick] -> index is less than 1...");
                        return;
                    }

                    this.$emit('onItemClick', e);
                }
            },

            doTimelineEvent(data) {
                switch (data.action) {
                    case 'add':
                        let len = this.itemSet.length;
                        let id = (this.itemSet.getIds()[len - 1] + 1);

                        if (!id)
                            id = 0;

                        this.itemSet.add({
                            group: 0,
                            id: id,
                            start: moment(),
                            content: '' + this.generateBarsHtml(data.fData),
                        });

                        this.focusTimelineItem(this.itemSet.getIds()[len]);

                        break;

                    case 'patch':
                        this.itemSet.update({
                            group: 0,
                            id: this.itemSet.getIds()[data.iIndex],
                            start: moment(this.project_forms[data.iIndex].createdAt),
                            content: '' + this.generateBarsHtml(data.fData),
                        });

                        break;

                    case 'remove':
                        this.itemSet.remove(this.itemSet.getIds()[data.iIndex]);
                        break;
                }

            },

            generateBarsHtml(pform) {
                let bars = '';
                bars += (this.generateBarHtml(pform.opt_topen));
                bars += (this.generateBarHtml(pform.opt_tclose));
                bars += (this.generateBarHtml(pform.opt_tupdate));
                bars += (this.generateBarHtml(pform.opt_prob));
                bars += (this.generateBarHtml(pform.opt_delivery));
                bars += (this.generateBarHtml(pform.opt_billing));
                bars += (this.generateBarHtml(pform.opt_budget));
                return bars;
            },

            generateBarHtml(opt) {
                if (opt)
                    return '<div class="bar greenBar"></div>';
                else
                    return '<div class="bar redBar"></div>';
            },

            pformsToItems(pforms) {
                let items = new DataSet();

                if (pforms) {
                    let i = 0;
                    pforms.forEach(pform => {
                        items.add({
                            group: 0,
                            id: i,
                            start: moment(pform.createdAt),
                            content: '' + this.generateBarsHtml(pform),
                        });
                        i++;
                    });
                } else {
                    console.log("pforms is null!!");
                }

                return items;
            },
        },

        computed: {
            ...mapGetters({}),
            project_forms() {
                if (this.project)
                    return this.project.project_forms;
                else
                    console.log("null this.project!");

                return null;
            },

        },
    }
</script>
<style lang="scss">

    .vis-timeline {
        visibility: visible !important;
    }

    $height: 3px;
    $width: 2rem;
    .bar {
        height: $height !important;
        width: $width !important;
        margin-top: 2px;

    }

    .greenBar {
        background-color: green !important;
    }

    .redBar {
        background-color: red !important;
    }
</style>