<template>
    <div class="projectForm">
        <h2 class="modalTitle" align="center">
            <Icon type="ios-copy-outline"/>
            {{project.name}}
        </h2>
        <hr>
        <Form class="modalTitleAfter" label-position="right" :label-width="250">
            <FormItem class="boldLabels" label="Tâches appropriées ouvertes?">
                <RadioGroup class="normalLabels" v-model="currentForm.opt_topen">
                    <Radio :label="1">Oui</Radio>
                    <Radio :label="0">Non</Radio>
                </RadioGroup>
            </FormItem>

            <FormItem class="boldLabels" label="Tâches completées fermées?">
                <RadioGroup class="normalLabels" v-model="currentForm.opt_tclose">
                    <Radio :label="1">Oui</Radio>
                    <Radio :label="0">Non</Radio>
                </RadioGroup>
            </FormItem>

            <FormItem class="boldLabels" label="Date des milestones et tâches à jour?">
                <RadioGroup class="normalLabels" v-model="currentForm.opt_tupdate">
                    <Radio :label="1">Oui</Radio>
                    <Radio :label="0">Non</Radio>
                </RadioGroup>
            </FormItem>

            <FormItem class="boldLabels" label="Problèmes techniques?">
                <RadioGroup class="normalLabels" v-model="currentForm.opt_prob">
                    <Radio :label="1">Non</Radio>
                    <Radio :label="0">Oui</Radio>
                </RadioGroup>
            </FormItem>

            <FormItem class="boldLabels" label="Problèmes avec dates de livraison?">
                <RadioGroup class="normalLabels" v-model="currentForm.opt_delivery">
                    <Radio :label="1">Non</Radio>
                    <Radio :label="0">Oui</Radio>
                </RadioGroup>
            </FormItem>

            <FormItem class="boldLabels" label="Facturation à jour?">
                <RadioGroup class="normalLabels" v-model="currentForm.opt_billing">
                    <Radio :label="1">Oui</Radio>
                    <Radio :label="0">Non</Radio>
                </RadioGroup>
            </FormItem>

            <FormItem class="boldLabels" label="Dépassement de budget?">
                <RadioGroup class="normalLabels" v-model="currentForm.opt_budget">
                    <Radio :label="1">Non</Radio>
                    <Radio :label="0">Oui</Radio>
                </RadioGroup>
            </FormItem>
            <hr>
        </Form>

        <Form>
            <h4>Commentaires</h4>
            <FormItem class="boldLabels">
                <Input v-model="currentForm.comment" type="textarea" :autosize="{minRows: 2,maxRows: 5}"
                       placeholder="Commentaires solides et constructifs...">
                </Input>
            </FormItem>
        </Form>

        <hr>

        <Form ref="formDynamic" :model="todos" :label-width="80">
            <FormItem>
                <Row>
                    <Col span="10">
                        <h4>Action items</h4>
                    </Col>
                    <Col span="10">
                        <Button type="success" @click="addTodo" icon="md-add" ghost> Ajouter</Button>
                    </Col>
                </Row>
            </FormItem>
            <FormItem
                    v-for="(item, index) in todos.items"
                    :key="index"
                    :label="'Todo ' + item.index"
                    :prop="'items.' + index + '.value'"
                    :rules="{required: true, message: 'Item ' + item.index +' can not be empty', trigger: 'blur'}">
                <Row>
                    <Col span="18">
                        <Input type="text" v-model="item.value" placeholder="Enter something..."></Input>
                    </Col>
                    <Col span="4" offset="1">
                        <Button v-if="isFormEmpty" @click="removeTodo(index)">
                            <Icon type="md-remove-circle"/>
                        </Button>
                    </Col>
                </Row>
            </FormItem>

        </Form>

        <hr>

        <Row>
            <Col>
                <Upload
                        action=""
                        align="center"
                        ref="upload"
                        type="drag"
                        v-if="currentForm.image == null || currentForm.image == ''"
                        :before-upload="onFileAdd"
                >
                    <Icon class="marginst" type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                    <p class="marginsb">Drag ou click pour upload</p>
                </Upload>
                <div v-else>
                    <img :src="'/' + currentForm.image.path" :alt="currentForm.image.path"
                         style="max-width: 100%">
                    <!--<Button v-if="isFormEmpty" class="modalButton" @click="removeImg" type="error"></Button>-->
                </div>
            </Col>
        </Row>

        <hr>

        <Row>
            <Col span="10">
                <Button class="modalButton" type="warning" @click="cancelButtonClick" ghost> Retour</Button>
                <Button v-if="!isFormEmpty" class="modalButton" type="error" @click="deleteButtonClick" ghost>
                    Effacer
                </Button>
            </Col>

            <Col align="right" span="14">
                <Button v-if="!isFormEmpty" class="modalButton" type="success" @click="modifyButtonClick" ghost>
                    Modifier
                </Button>
                <Button v-if="isFormEmpty" class="modalButton" type="success" @click="addButtonClick" ghost>
                    Ajouter
                </Button>
            </Col>
        </Row>

    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import {addForm, patchForm, removeForm, removeTodo} from "../../modules/project";

    export default {
        name: "project-form",
        props: {formData: Object, project: Object, modalState: String},

        data() {
            return {
                isFormEmpty: false,

                currentForm: {
                    projectId: this.form_data && (this.form_data.projectId) || -1,
                    opt_topen: this.form_data && (this.form_data.opt_topen) || 0,
                    opt_tclose: this.form_data && (this.form_data.opt_tclose) || 0,
                    opt_tupdate: this.form_data && (this.form_data.opt_tupdate) || 0,
                    opt_prob: this.form_data && (this.form_data.opt_prob) || 0,
                    opt_delivery: this.form_data && (this.form_data.opt_delivery) || 0,
                    opt_billing: this.form_data && (this.form_data.opt_billing) || 0,
                    opt_budget: this.form_data && (this.form_data.opt_budget) || 0,
                    comment: this.form_data && (this.form_data.comment) || "",
                    image: this.form_data && (this.form_data.image) || "",
                },

                curFile: null,
                index: 0,
                itemIndexInTimeline: this.form_data && (this.form_data.timelineItemIndex) || -1,
                formId: this.form_data && (this.form_data.formId) || -1,
                todos: this.form_data && (this.form_data.todos) || {items: []},
            }
        },

        methods: {

            removeImg() {
                this.curFile = null;
            },

            logMe(str) {
                console.warn("[pform] -> " + str);
            },

            onFileAdd(file) {
                this.$refs['upload'].clearFiles();
                console.log("Printing uploaded shit");
                console.log(file);
                this.curFile = file;
            },

            deleteButtonClick() {
                removeForm(this.form_data.formId).then(() => {
                    this.sendEventToTimeline('remove');
                    this.$emit('on-ok');
                });
            },

            modifyButtonClick() {
                patchForm(this.form_data.formId, this.currentForm, this.itemsToTodos(this.todos.items)).then(() => {
                    this.sendEventToTimeline('patch');
                    this.$emit('on-ok');
                });
            },

            cancelButtonClick() {
                this.$emit('on-ok');
            },

            sendEventToTimeline(action) {
                let eventData = {
                    action: action,
                    iIndex: (action === 'add') ? -1 : this.itemIndexInTimeline,
                    projectId: this.project.id,
                    fData: this.currentForm,
                };

                this.$emit("formEvent", eventData);
            },

            addButtonClick() {
                if (this.currentForm.projectId > -1) {

                    addForm(this.currentForm, this.itemsToTodos(this.todos.items), this.curFile).then(() => {
                        this.sendEventToTimeline('add');
                        this.$emit('on-ok');
                    });

                } else if (this.isEmptyForm(this.currentForm, this.formId)) {
                    console.logMe("form is empty");

                } else {
                    console.logMe("No project id...");
                }
            },

            addTodo() {
                this.index = this.todos.items.length;

                this.todos.items.push({
                    value: '',
                    index: (this.index + 1),
                    status: 1
                });
            },

            removeTodo(i) {
                console.log(i);
                if (i > -1 && i < this.todos.items.length) {
                    if (this.todos.items[i].hasOwnProperty('todoId')) {
                        let index = this.todos.items[i].todoId;
                        this.logMe("Removing todo " + index);
                        removeTodo(index);
                    }
                    this.todos.items.splice(i, 1);
                } else
                    this.logMe("Cannot access this.project.todos @ i! this.project.todos.length is '"
                        + this.project.todos.length + "' & i is '" + i + "'.");

            },

            isEmptyForm(form, formId) {
                if (formId > -1)
                    return false;

                for (let key in form) {
                    if (form.hasOwnProperty(key)) {
                        if (!key.includes('Id') && !key.includes('Index') && key !== 'todos') {
                            if (form[key] !== 0
                                && form[key] !== []
                                && form[key] !== {}
                                && form[key] !== "") {
                                return false;
                            }

                        } else if (key === 'todos') {
                            if (form[key].length > 0) {
                                return false;
                            }
                        }
                    }
                }
                return true;
            },

            formatTodos() {
                let items = [];
                let i = 0;

                if (this.formData.todos) {
                    for (let todo of this.formData.todos) {
                        items.push(this.todoToItem(todo, i));
                        i++;
                    }
                }

                return {items: items};
            },

            itemsToTodos(items) {
                let todos = [];
                for (let item of items) {
                    if (!item.hasOwnProperty('todoId'))
                        todos.push({text: item.value, userId: 1});
                    else {
                        let todo = this.form_data.todos[item.index];
                        todo.text = item.value;
                        todos.push(todo);
                    }
                }

                return todos;
            },


            todoToItem(todo, i) {
                return {
                    value: todo.text,
                    index: i,
                    status: 1,
                    todoId: todo.id,
                };
            },
        },

        watch: {
            modalState: function () {
                if (this.modalState === "reset") {
                    this.todos = {items: []};
                    this.currentForm = {};
                    this.formId = -1;
                    this.curFile = null;

                    if (this.$refs.upload)
                        this.$refs.upload.fileList = [];

                } else if (this.modalState === "show") {
                    this.isFormEmpty = this.isEmptyForm(this.form_data);
                    this.itemIndexInTimeline = this.form_data.itemIndexInTimeline;
                    this.formId = this.form_data.formId;
                    this.currentForm = this.formData;
                    this.todos = this.formatTodos(this.form_data.todos);
                }
            },
        },

        computed: {
            ...mapGetters({}),

            form_data: {
                get() {
                    return {
                        itemIndexInTimeline: this.formData.timelineItemIndex,
                        formId: this.formData.formId,
                        projectId: this.formData.projectId,
                        opt_topen: this.formData.opt_topen,
                        opt_tclose: this.formData.opt_tclose,
                        opt_tupdate: this.formData.opt_tupdate,
                        opt_prob: this.formData.opt_prob,
                        opt_delivery: this.formData.opt_delivery,
                        opt_billing: this.formData.opt_billing,
                        opt_budget: this.formData.opt_budget,
                        comment: this.formData.comment + "",
                        todos: this.formData.todos,
                        image: this.formData.image,
                    }
                },
            },
        },
    }
</script>

<style scoped>
    h4 {
        text-align: center;
        margin-bottom: 1rem;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .marginst {
        margin-top: 2rem;
    }

    .marginsb {
        color: #b6b6b6;
        margin-bottom: 2rem;
    }

    .modalButton {
        margin-right: 1rem;
    }

    .normalLabels {
        font-weight: normal;
    }

    .boldLabels {
        font-weight: bold;
    }

    .modalTitle {
        padding-bottom: 10px;
    }

    .modalTitleAfter {
        padding-top: 10px;
    }

    .projectForm {
        padding-left: 2rem;
        padding-right: 2rem;
    }
</style>