<style scoped>
    .main-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #F5F7F9;
        height: 100%;
        overflow-y: scroll;
    }

    .layout {
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .bgw {
        background-color: white !important;
    }

    .layout-header-bar {
        z-index: 1000;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    }

    .layout-logo-left {
        width: 90%;
        height: 30px;
        background: #5b6270;
        border-radius: 3px;
        margin: 15px auto;
    }

    .rotate-icon {
        transform: rotate(-90deg);
    }


</style>
<template>
    <div v-if="$route.path!=='/login'" class="fullheight">
        <div class="layout fullheight">
            <Layout class="fullheight">
                <Header :style="{padding: 0}" class="layout-header-bar">
                    <!--<Icon @click.native="collapsedSider" :class="rotateIcon" :style="{margin: '0 20px'}" type="md-menu"-->
                    <!--size="24">-->
                    <!--</Icon>-->
                    <Button @click="logout" style="margin-left: 1rem">Logout</Button>

                </Header>
                <Layout>
                    <!--<Sider ref="side1" hide-trigger collapsible :collapsed-width="78" v-model="isCollapsed" class="bgw">-->
                    <!--<left-menu :menuitemClasses="menuitemClasses"></left-menu>-->
                    <!--</Sider>-->
                    <Content class="main-content">
                        <router-view></router-view>
                    </Content>
                </Layout>
            </Layout>
        </div>
    </div>
    <div v-else class="fullheight">
        <login></login>
    </div>

</template>
<script>
    import {mapActions} from 'vuex'
    import leftMenu from '@/components/app/left-menu'
    import login from '@/views/login'

    export default {
        components: {
            leftMenu,
            login,
        },
        data() {
            return {
                isCollapsed: false
            }
        },
        computed: {
            rotateIcon() {
                return [
                    'menu-icon',
                    this.isCollapsed ? 'rotate-icon' : ''
                ];
            },
            menuitemClasses() {
                return [
                    'menu-item',
                    this.isCollapsed ? 'collapsed-menu' : ''
                ]
            }
        },
        methods: {
            ...mapActions({
                logout: 'logout'
            }),
            p() {
                console.log(this.$route)
            },
            collapsedSider() {
                this.$refs.side1.toggleCollapse();
            }
        }
    }
</script>
