<template>
    <div id="app" class="noselect">
        <alert></alert>
        <applayout></applayout>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import {refreshServices} from './store/modules/feathersData';
    import applayout from './app-layout';
    import Alert from "./components/app/alert";

    export default {
        name: 'Aplus',

        computed: mapGetters({
            sidebar: 'sidebar',
            loggedIn: 'loggedIn',
            user: 'user'
        }),
        components: {
            Alert,
            applayout,
        },
        methods: {
            ...mapActions([
                'toggleDevice',
                'toggleSidebar',
                'error',
            ]),
            ...mapMutations([
                'authenticate',
            ]),
        },
        created() {
            //re authenticates the app after a refresh.
            if (this.$router.currentRoute.path !== '/login') {
                this.authenticate(false);
                this.$feathers.authenticate().then(() => {
                    refreshServices(this.$store)
                }).catch(error => {
                    this.error(error)
                })
            }
        },

        beforeMount() {
            const {body} = document;
            const WIDTH = 768;
            const RATIO = -1;

            const handler = () => {
                if (!document.hidden) {
                    let rect = body.getBoundingClientRect();
                    let isMobile = rect.width + RATIO < WIDTH;
                    this.toggleDevice({height: rect.height, width: rect.width});
                    this.toggleSidebar({
                        opened: !isMobile
                    })
                }
            };
            document.addEventListener('visibilitychange', handler);
            window.addEventListener('DOMContentLoaded', handler);
            window.addEventListener('resize', handler);
        },
    }
</script>

<style>
    @import "~vue2vis/dist/vue2vis.css";

    .ivu-input[disabled], fieldset[disabled] .ivu-input {
        color: #6a6a6a !important;
    }

    .aplus-logo {
        background-image: url('./assets/img/aiworx.png');
        background-repeat: no-repeat;
        background-position: 32px 8px;
    }

    #app {
        height: 100%;
    }

    .title {
        font-size: 14px;
        font-weight: 700;
    }

    .left-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .m-1 {
        margin: 1rem;
    }

    .mr-auto {
        margin-right: auto;
    }

    .ml-auto {
        margin-left: auto;
    }

    .fullheight {
        height: 100%;
    }
</style>