//@import '~iview/src/styles/index.less';
//
//@aplus-color: #555ece;
//@primary-color: @aplus-color;
//
//@cursor-disabled: default;
//
//@border-color: rgba(69, 76, 160, 0.50);
//
//@input-placeholder-color: @border-color;
//
////@border-color-base: @border-color; // outside
////@border-color-split: @border-color; // inside
//@border-width-base: 1px; // width of the border for a component
//@border-style-base: solid;
//
//@input-disabled-bg: #fbfbfb;
//
////@shadow-color           : rgba(0, 0, 0, 0);

